@model Jogador
<link rel="stylesheet" href="~/css/login.css">
@{
    ViewData["Title"] = "Login";
}

<!-- FORMULÃRIO DE LOGIN -->
    <main class="fundo-login">
        <div class="bkg-login">
            <form method="post" action="@Url.Action("Logar")" class="frm-login">
                <div class="login-title">
                    <hr class="login-line">
                    <h1>Login</h1>
                </div>
                <div class="frm-linha">
                    <div class="bkg-input">
                        <img src="~/assets/vector-user.svg" alt="icone de usuario">
                        <input type="Email" name="Email" placeholder="Email:" required>
                    </div>
                </div>
                <div class="frm-linha">
                    <div class="bkg-input">
                        <img src="~/assets/vector-key.svg" alt="icone de chave">
                        <input type="password" name="Senha" placeholder="Senha:">
                    </div>
                </div>

                <button type="submit" class="btn-logar">Logar</button>
            </form>
        </div>

    </main>
                    @*






<h1>Tela de Login</h1>

<h2>
@TempData.Peek("Message")
</h2>

<form method="post" action="@Url.Action("Logar")">
<input type="Email" name="Email" placeholder="Email" required>
<input type="password" name="Senha" placeholder="Senha">

<button type="submit">Logar</button>
</form> *@